<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Eddygram by rajnisingla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="styles/mystyle.css">
  <script src="lib/jquery-1.6.js" type="text/javascript"></script>
  <script src="scripts/jquery.urlshortener.js" type="text/javascript"></script>
  <script src="scripts/eddystone.js" type="text/javascript"></script>

  </head>
  <body ng-app="myApp" ng-controller="myCtrl" ng-cloak>
    <section class="page-header">
      <h1 class="project-name">Eddygram</h1>
      <h2 class="project-tagline">A web bluetooth application to view profiles of nearby users</h2>
      <a href="https://github.com/rajnisingla/eddygram" class="btn">View on GitHub</a>
      <a href="https://github.com/rajnisingla/eddygram/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/rajnisingla/eddygram/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <md-toolbar>

    <div class="md-toolbar-tools">
      <span>{{title}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button target="_blank" href="https://developers.google.com/beacons/overview" class="md-raised" aria-label="Learn More">
         Learn More
      </md-button>
    </div>

  </md-toolbar>

  <div ng-show="screen==1" layout="column" style="margin-top:20px;margin-left:10%;margin-right:10%">

    <div align="end">
      Have your own beacon ? <span ng-click="isSignedIn?screen=3:screen=2;isSignedIn?title='Credentials':title='Credentials';"
      style="cursor:pointer;text-decoration:underline;color:blue"><b>Manage</b></span>
    </div>

    <div layout="row" style="margin-top:20px;" layout-align="center center">
      <md-button ng-click="scan()" class="md-raised md-primary">START SCAN</md-button>
    </div>

    <div layout="column" layout-align="center center" style="margin-top:20px;">
      <md-list flex >
        <md-subheader class="md-no-sticky">Showing all nearby beacons</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="device in devicesList" ng-click="null">
            <img ng-src="{{preview.image}}?{{$index}}" class="md-avatar" alt="{{device.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ device.name }}</h3>
                <h4>{{ preview.description }}</h4>
            </div>
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div ng-show="screen==2" layout="column" style="margin-top:20px;margin-left:10%;margin-right:10%">

    <form id="form2" name="form2" >
    <h3 style="margin-left:2%;width:50%">Please look at the bottom/back of the device to find device UID & Password </h3>

    <div>



    </div>

    <md-input-container  class="md-block" style="margin-left:2%;width:50%">
      <label>Device-UID</label>
      <input required type="PIN" name="deviceUid" ng-model="myDeviceId" ng-pattern="/^[0-9]{6}$/"/>
      <div ng-messages="form2.deviceUid.$error" >
          <div ng-message-exp="['required','pattern']" >Device UID must be 6 digit number.</div>
          <!--<div ng-show="form2.deviceUid.$invalid" ng-message="form2.deviceUid.$invalid">Not a valid UID (6 digits).</div>-->
        </div>
      <!-- <div class="hint">This URL will be broadcasted to everyone in the hall</div> -->
    </md-input-container>

    <md-input-container  class="md-block" style="margin-left:2%;width:50%">
      <label>Password</label>
      <input required type="password" name="password" ng-model="myDevicePassword" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,12}$/"/>
      <div ng-messages="form2.password.$error" >
          <div ng-message-exp="['required','pattern']">Password should be 6-12 character long containing only alphanumeric values.</div>
          <!--<div ng-show="form2.password.$invalid" ng-message="form2.password.$invalid">Not a valid password.</div>-->
        </div>
      <!-- <div class="hint">This URL will be broadcasted to everyone in the hall</div> -->
    </md-input-container>

    <md-input-container  class="md-block" style="margin-left:2%;width:50%">
      <label>PIN</label>
      <input required type="PIN" name="pin" minlength="4" maxlength="4"ng-model="myDevicePin" ng-pattern="/^[0-9]{4}$/" />
      <div ng-messages="form2.pin.$error">
          <div ng-message-exp="['required', 'pattern']"> PIN must be exactly 4 digit number.</div>
          <!--<div ng-show="form2.pin.$invalid" ng-message="form2.pin.$invalid">Not a valid PIN (4 digits number).</div>-->
        </div>
      <!-- <div class="hint">This URL will be broadcasted to everyone in the hall</div> -->
    </md-input-container>

<md-button ng-click="screen=3;title='Device ID';isSignedIn=true" ng-disabled="form2.$invalid" class="md-raised md-primary"
          style="position:absolute;bottom:5%;right:5%"> NEXT </md-button>

<md-button ng-click="screen=1;title='Nearby Devices';" class="md-raised md-primary"
          style="position:absolute;bottom:5%;left:5%"> BACK </md-button>

    </form>
  </div>


<div ng-show="screen==3" layout="column" layout="center center" style="margin-top:20px;margin-left:10%;margin-right:10%">

<div layout="row" layout-align="end end">
<md-button ng-click="screen=2;title='Credentials';isSignedIn=false;myDeviceId='';myDevicePin='';myDevicePassword=''"
            class="md-raised md-primary"> Sign In to another device </md-button>
</div>

<div layout="row" layout-align="center center"><h2>Device Details <small></small></h2></div>

<div layout="row" layout-align="center center">

<h3 flex="30" align="center">Name</h3>
<b flex="10" align="center">:</b>
<h3 flex="30" align="center" style="color:#888">RAD-BEACON-A1201</h3>

</div>

<div layout="row" layout-align="center center">

<h3 flex="30" align="center">MODE</h3>
<b flex="10" align="center">:</b>
<h3 flex="30" align="center" style="color:#888">EDDYSTONE-URL</h3>

</div>

<div layout="row" layout-align="center center">

<h3 flex="30" align="center">URL</h3>
<b flex="10" align="center">:</b>
<h3 flex="30" align="center" style="color:#888">goo.le.wable</h3>

</div>

<div layout="row" layout-align="center center">

<h3 flex="30" align="center">TxPower</h3>
<b flex="10" align="center">:</b>
<h3 flex="30" align="center" style="color:#888">20mW</h3>

</div>

<div layout="row" layout-align="center center">

<h3 flex="30" align="center">Frequency</h3>
<b flex="10" align="center">:</b>
<h3 flex="30" align="center" style="color:#888">100 ms</h3>

</div>

<hr flex></hr>

<div layout="row" style="margin-top:20px;" layout-align="center center">
  <md-button ng-click="screen=4;title='URL Configuration';" class="md-raised md-primary"> EDIT </md-button>
</div>
<div layout="row" style="margin-top:20px;" layout-align="center center">
  <md-button ng-click="screen=1;title='Nearby Devices';" class="md-raised md-primary"> DONE </md-button>
</div>



</div>

<div ng-show="screen==4" layout-fill style="margin-left:10%;margin-right:10%" class="" layout="column" layout-align="center start" layout-padding="5%">

<span ng-show="globalError" style="color:red" id="globalError"></span>
<div flex="50" layout="column" style="width:100%">
    <h3>Provide the URL to broadcast</h3>
    <br>
    <div layout="row">
      <md-checkbox ng-checked="useLinkedInUrl==false" ng-click="useLinkedInUrl=!useLinkedInUrl">
      <b>Choose your own URL</b>
                </md-checkbox>
    </div>

    <form id="myForm1" name="myForm" ng-show="!useLinkedInUrl" >


    <md-input-container  class="md-block" style="margin-left:2%;width:50%">
      <label>URL</label>
      <input required type="URL" name="nameEnteredURL" ng-model="enteredURL"/>
      <div ng-messages="nameEnteredURL.$error" >
          <div ng-show="myForm.nameEnteredURL.$error.required" ng-message="required">This is required.</div>
          <div ng-show="myForm.nameEnteredURL.$invalid" ng-message="myForm.nameEnteredURL.$invalid">Not a url.</div>
        </div>
      <!-- <div class="hint">This URL will be broadcasted to everyone in the hall</div> -->
    </md-input-container>

    </form>

    <!--<div style="color:#0288d1;margin-top:10px"><b>{{enteredShortedURL}}</b></div>

    <br/>
    <div layout="row" style="min-width:50%">
      <hr size = '3' noshade></hr>
      <div style="display:inline;color:grey"><b>OR</b></div>

      <hr size = '3' noshade></hr>
    </div>-->
<br/>


<div layout="row">
  <md-checkbox ng-checked="useLinkedInUrl==true" ng-click="useLinkedInUrl=!useLinkedInUrl">
  <b>Use your LinkedIn profile url</b>
            </md-checkbox>
</div>


    <div ng-show="useLinkedInUrl" style="margin-top:10px">
      <div style="color:#0288d1;margin-top:10px;margin-left:20px"><b>{{linkedinURL}}</b></div>
      <md-button ng-click="login()" ng-show="!linkedInUrlSuccess" class="md-raised md-primary">
      <md-icon md-svg-src="../images/linkedin-box.svg"></md-icon>
      Sign in to LinkedIn
      </md-button>
      <!--<script type="in/Login">
      </script>-->
      <br>

      <md-button ng-click="logout()" ng-show="linkedInUrlSuccess" class="md-raised md-primary">
      <md-icon md-svg-src="../images/linkedin-box.svg"></md-icon>
      Choose another profile URL
      </md-button>

    </div>

</div>


<div flex="50" style="width:60%">
<div style="color:grey"><b>PREVIEW</b></div>
<hr size = '3' noshade></hr>

<md-list-item class="md-2-line">
          <img id="profileImage" ng-src={{preview.image}} class="md-avatar" alt="URL image" />
          <div class="md-list-item-text">
            <h3><b>{{preview.header}}</b></h3>
            <div class="twolines">{{preview.description}}
                </div>
          </div>
        </md-list-item>
</div>

<md-button ng-click="screen=3;title='Device ID';" class="md-raised md-primary"
 style="position:absolute;bottom:5%;left:5%"> CANCEL </md-button>

<md-button ng-click="startBroadcasting()" ng-disabled="shouldDisable()" class="md-raised md-primary"
 style="position:absolute;bottom:5%;right:5%"> START BROADCASTING </md-button>
</div>
<div ng-show="loading" class="overlay">

  <div layout="row" layout-align="center center"  style="height: 100%;width: 100%">
     <div> <md-progress-circular class="md-primary md-hue-3" md-mode="indeterminate"></md-progress-circular> </div>
    </div>

  </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */
    var scope;
    var characteristic;
    var app = angular.module('myApp', ['ngMaterial','ngMessages']);

    app.controller("myCtrl", function($scope) {
      $scope.url = "";
      $scope.linkedinURL = "";
      $scope.enteredURL = "";
      $scope.shortedLinkedinURL = "";
      $scope.shortedEnteredURL = "";
      $scope.useLinkedInUrl = false;
      $scope.linkedInUrlSuccess = false;
      $scope.shorteningLinkedInUrlSuccess = false;
      $scope.shorteningEnteredUrlSuccess = false;
      $scope.globalError = false;
      $scope.isSignedIn = false;
      $scope.loading = false;
      $scope.screen = 1;
      $scope.myDeviceId = '';
      $scope.myDevicePassword = '';
      $scope.myDevicePin = '';

      $scope.devicesList = [];
      $scope.title = "Nearby Devices"

      $scope.addToDeviceList = function(device){

        $scope.devicesList.push(device);
        $scope.apply;

      }

      $scope.scan = function(){

      if (isWebBluetoothEnabled()) {

          onChooseClick();
        }

      }

      $scope.shouldDisable = function(){

      var ret = (!$scope.useLinkedInUrl && $scope.myForm.$invalid) || ($scope.useLinkedInUrl && !$scope.linkedInUrlSuccess )
      return ret;

      }

      $scope.login = function(){

         IN.UI.Authorize().place();
         /*IN.User.authorize();*/

      }

      $scope.logout = function(){


       IN.User.logout(function() {

         $scope.login();

        });

      }

      $scope.toggleCheckBox = function(abc){

        if(abc==true){
          abc = false;
        }else {
          abc = true;
        }

      }
      scope = $scope;

      $scope.preview = {
        image:"../images/superman.png",
        header:"www.enteredURL.com",
        description:"Desription of the URL entered Lorem ipsum dolor sit amet"
      };

      $scope.getShortUrl = function(urlToShort){

        if(urlToShort.length>0)
        {
          jQuery.urlShortener({
              longUrl: urlToShort,
              success: function (shortUrl)
              {
                if($scope.useLinkedInUrl)
                {
                    $scope.shortedLinkedinURL = shortUrl.split('://')[1];
                    $scope.shorteningLinkedInUrlSuccess = true;
                    //onWrite($scope.shortedLinkedinURL);

                }else
                {
                    $scope.shortedEnteredURL = shortUrl.split('://')[1];
                    $scope.shorteningEnteredUrlSuccess = true;
                    //onWrite($scope.shortedEnteredURL);

                }

                $scope.loading = false;
                $scope.globalError = false;
                $scope.$apply();
              },
              error: function(err)
              {
                if($scope.useLinkedInUrl)
                {
                    $scope.shortedLinkedinURL = '';
                    $scope.shorteningLinkedInUrlSuccess = false;

                }else
                {
                    $scope.shortedEnteredURL = '';
                    $scope.shorteningEnteredUrlSuccess = false;
                }

                $scope.loading = false;
                $("#globalError").html("Error shortening the URL. Try again.*");
                $scope.globalError = true;

              }
          });
        }

      };

      $scope.startBroadcasting = function () {

         if((characteristic!==null) && (typeof(characteristic)!=='undefined')){


          if($scope.useLinkedInUrl && ($scope.linkedinURL.length>3) && $scope.linkedinURL!==null&&(typeof($scope.linkedinURL)!=='undefined'))
          {
            if(!$scope.shorteningLinkedInUrlSuccess || $scope.shortedLinkedinURL.length==0)
            {
              $scope.loading = true;
              $scope.getShortUrl($scope.linkedinURL);

            }else{

              //onWrite($scope.shortedLinkedinURL);

            }


          }else if(!$scope.useLinkedInUrl && ($scope.enteredURL.length>3) && $scope.enteredURL!==null&&(typeof($scope.enteredURL)!=='undefined'))
          {
            if(!$scope.shorteningEnteredUrlSuccess || $scope.shortedEnteredURL.length==0)
            {
              $scope.loading = true;
              $scope.getShortUrl($scope.enteredURL);

            }else{

                //onWrite($scope.shortedEnteredURL);
            }

          }



        }else{
          $("#globalError").html("No device find. Please go back and connect to your device.*");
          $scope.globalError = true;
           //alert('Please choose a device first by clicking on Choose Device button.');
        }


        };


    });


    function isWebBluetoothEnabled() {
        if (navigator.bluetooth) {
          return true;
        } else {
          alert('Web Bluetooth API is not available.\n' +
                                  'Please make sure the Web Bluetooth flag is enabled.');
          return false;
        }
      }

    function OnLinkedInFrameworkLoad() {
      IN.Event.on(IN, "auth", OnLinkedInAuth);
    }

    function OnLinkedInAuth() {
    IN.API.Profile("me").fields("firstName", "lastName", "picture-url", "headline", "summary", "public-profile-url").result(ShowProfileData);
    }

    function ShowProfileData(profiles) {
      var member = profiles.values[0];
      var id=member.id;
      var firstName=member.firstName;
      var lastName=member.lastName;
      var photo=member.pictureUrl;
      var headline=member.headline;
      var profileUrl = member.publicProfileUrl;

      scope.preview.image = photo;
      scope.preview.header = firstName+" "+lastName;
      scope.preview.description = headline;

      scope.linkedInUrlSuccess = true;
      scope.linkedinURL = profileUrl;
      scope.$apply();
      /*console.log(profileUrl);
      getShortUrl(profileUrl);*/

    }

    jQuery.urlShortener.settings.apiKey = 'AIzaSyAJ1cY6HGkca800Uf1WZzQx0g-atz56GV8';





  </script>

  <script type="text/javascript" src="//platform.linkedin.com/in.js">
      api_key:   7543suhh8zxj4n
      onLoad: OnLinkedInFrameworkLoad
  </script>


      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/rajnisingla/eddygram">Eddygram</a> is maintained by <a href="https://github.com/rajnisingla">rajnisingla</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>


  </body>
</html>
