
.hint {

  position: absolute;
    left: 5px;
    right: auto;
    bottom: 8px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

hr{

  background-color:#0288d1;
  min-width: 45%;

}

.twolines
  {
     font-size: 14px;
     line-height: 16px;
     height: 32px;
     overflow: hidden;
  }
.overlay {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:block;
  }
